---
import Base from "@layouts/base.astro";
import QuestionEditor from "@components/QuestionEditor.svelte";
import QuestionAssigner from "@components/QuestionAssigner.svelte";
---

<Base title="Question Editor">
    <div class="p-4 m-2 border-b border-text">
        <h2 class="text-3xl font-bold text-text">Question Editor</h2>
    </div>

    <div>
        <QuestionEditor client:load />
    </div>
</Base>
