---
import BaseWide from "@layouts/base-wide.astro";
import MarketView from "@components/MarketView.svelte";
---

<BaseWide title="View Market">
    <div class="p-4 m-2 border-b border-text">
        <h2 class="text-3xl font-bold text-text">View Market Details</h2>
    </div>

    <MarketView client:load />
</BaseWide>
