---
import Base from "@layouts/base.astro";
import MarketSearch from "@components/MarketSearch.svelte";
---

<Base title="Markets">
    <div class="flex justify-between items-center p-4 m-2 border-b border-text">
        <h2 class="text-3xl font-bold text-text">Top Markets</h2>
    </div>

    <div class="">
        <MarketSearch client:load />
    </div>
</Base>
