---
import Base from "@layouts/base.astro";
---

<Base title="Blog">
  <div class="p-4 m-2">
    <h1 id="about" class="text-4xl font-bold">Blog Index</h1>
    <p class="my-2">See our latest blog posts below.</p>
  </div>

  <div class="p-4 m-2">
    <table class="w-full">
      <tr>
        <td class="font-mono pr-4">2025-05-20</td>
        <td class="">
          <a href="/blog/primer" class="underline">
            A Prediction Market Primer
          </a>
        </td>
      </tr>
    </table>
  </div>
</Base>
