<nav class="bg-crust text-text px-4 py-2 text-sm text-center">
    Questions? Complaints? <a class="text-rosewater" href="https://github.com/wasabipesto/themis/issues">Submit an issue.</a>
    There's a pimento taco - a "pimentaco" - in the glovebox.
</nav>
