---
import type { MarketDetails, PlatformDetails } from "@types";
import { calculateCalibrationPoints } from "@lib/calibration";

import * as Plot from "@observablehq/plot";
import { JSDOM } from "jsdom";
const { document } = new JSDOM().window;

interface Props {
  platforms: PlatformDetails[];
  markets: MarketDetails[];
  criterion?: string;
  weight?: string;
  width?: number;
  aspectRatio?: number;
  caption?: string;
}
let {
  platforms,
  markets,
  criterion = "midpoint",
  weight = null,
  width = 720,
  aspectRatio,
  caption,
} = Astro.props;

// Calculate calibration points
const points = await calculateCalibrationPoints(markets, criterion, weight);

let axisTitleX = {
  midpoint: "Prediction (Midpoint)",
  "time-average": "Prediction (Time-Average)",
  "before-close-hours-24": "Prediction (24h before resolution)",
  "before-close-days-30": "Prediction (30d before resolution)",
  "before-close-days-90": "Prediction (90d before resolution)",
  "before-close-days-365": "Prediction (one year before resolution)",
  "after-start-hours-24": "Prediction (24h after open)",
}[criterion];

let axisTitleY = {
  none: "Resolution",
  volume_usd: "Resolution, weighted by volume",
  traders_count: "Resolution, weighted by number of traders",
  duration_days: "Resolution, weighted by duration",
  recency: "Resolution, weighted by recency",
}[weight || "none"];

// Generate the plot
const plot = Plot.plot({
  title: "Calibration Plot",
  width: width,
  aspectRatio: aspectRatio,
  x: {
    domain: [0, 100],
    percent: true,
    label: axisTitleX,
  },
  y: { domain: [0, 100], grid: true, percent: true, label: axisTitleY },
  r: { range: [width * 0.01, width * 0.015], label: "Scale" },
  color: {
    legend: platforms.length > 1,
    label: "Platform",
    domain: platforms.map((p) => p.name),
    range: platforms.map((p) => p.color_primary),
  },
  marks: [
    Plot.dot(points, {
      x: "pred_center",
      y: "res_mean",
      r: "count",
      fill: "platform_slug",
      stroke: "platform_slug",
      fillOpacity: 0.5,
    }),
    Plot.line(points, {
      x: "pred_center",
      y: "res_mean",
      stroke: "platform_slug",
      strokeOpacity: 0.5,
    }),
    Plot.ruleX([0]),
    Plot.ruleY([0]),
    Plot.lineY(
      [
        { x: 0, y: 0 },
        { x: 1, y: 1 },
      ],
      { x: "x", y: "y" },
    ),
  ],
  document,
}).outerHTML;
---

<div
  class="bg-base-light [&_h2]:text-2xl text-crust rounded-md drop-shadow-sm p-4 overflow-x-auto"
>
  <Fragment set:html={plot} />
  <p class="text-xs">
    {caption}
    n={markets.length.toLocaleString()} markets
  </p>
  <p class="text-xs">
    Source: <a href="https://brier.fyi">brier.fyi</a>
  </p>
</div>
