---
import type { MarketScoreDetails, PlatformDetails } from "@types";

import * as Plot from "@observablehq/plot";
import { JSDOM } from "jsdom";
import { quartilesByPlatform } from "@lib/stats";
const { document } = new JSDOM().window;

interface Props {
  platforms: PlatformDetails[];
  scores: MarketScoreDetails[];
  scoreType: string;
  width?: number;
  aspectRatio?: number;
  height?: number;
  caption?: string;
}
let {
  platforms,
  scores,
  scoreType,
  width = 720,
  height,
  aspectRatio,
  caption,
} = Astro.props;

let axisTitleX = {
  "brier-average": "Brier score, time-average",
  "brier-midpoint": "Brier score, midpoint",
  "brier-relative": "Brier score, relative to others",
  "brier-before-close-days-7": "Brier score, 7d before close",
  "brier-before-close-days-30": "Brier score, 30d before close",
  "logarithmic-average": "Logarithmic score, time-average",
  "logarithmic-midpoint": "Logarithmic score, midpoint",
  "logarithmic-relative": "Logarithmic score, relative to others",
  "logarithmic-before-close-days-7": "Logarithmic score, 7d before close",
  "logarithmic-before-close-days-30": "Logarithmic score, 30d before close",
  "spherical-average": "Spherical score, time-average",
  "spherical-midpoint": "Spherical score, midpoint",
  "spherical-relative": "Spherical score, relative to others",
  "spherical-before-close-days-7": "Spherical score, 7d before close",
  "spherical-before-close-days-30": "Spherical score, 30d before close",
}[scoreType];

const scoresFiltered = scores.filter(
  (s) => s.score_type == scoreType && s.score > -5,
);
if (scoresFiltered.length === 0) {
  console.warn(
    "No scores found for the selected score type. Chart will be blank.",
  );
}
const scoresStats = quartilesByPlatform(platforms, scoresFiltered);
const domain = [
  scoresFiltered[0]?.score || 0,
  scoresFiltered[scoresFiltered.length - 1]?.score || 0,
];

import fs from "fs";
import path from "path";
if (
  platforms.length === 4 &&
  scoreType === "brier-midpoint" &&
  caption === "All resolved markets."
) {
  fs.writeFileSync(
    path.resolve("./acc-scores-filtered.json"),
    JSON.stringify(scoresFiltered, null, 2),
  );
  fs.writeFileSync(
    path.resolve("./acc-scores-stats.json"),
    JSON.stringify(scoresStats, null, 2),
  );
  console.log(
    "Accuracy scores saved to acc-scores-filtered.json and acc-scores-stats.json",
  );
}

// Generate the plot
const plots = [
  /* Main plot - histogram of scores */
  Plot.plot({
    title: "Distribution of Market Accuracy Scores",
    width: width,
    height: height,
    aspectRatio: aspectRatio,
    marginLeft: 70,
    x: { label: axisTitleX, domain: domain },
    y: {
      grid: true,
      label: "Count",
    },
    color: {
      legend: platforms.length > 1,
      label: "Platform",
      domain: platforms.map((p) => p.name),
      range: platforms.map((p) => p.color_primary),
    },
    marks: [
      Plot.rectY(
        scoresFiltered,
        Plot.binX(
          { y: "count" },
          {
            x: { value: "score", thresholds: 20 },
            // @ts-ignore: Dunno why it doesn't like this line
            fill: "platform_name",
            insetLeft: 1,
          },
        ),
      ),
    ],
    document,
  }).outerHTML,
  /* Manual box plot - without outliers */
  Plot.plot({
    width: width,
    height: 200,
    marginLeft: 70,
    x: { label: axisTitleX, domain: domain },
    y: {
      grid: true,
      label: null,
    },
    color: {
      label: "Platform",
      domain: platforms.map((p) => p.name),
      range: platforms.map((p) => p.color_primary),
    },
    marks: [
      Plot.ruleY(scoresStats, {
        y: "platform_name",
        x1: "c1",
        x2: "q1",
      }),
      Plot.barX(scoresStats, {
        y: "platform_name",
        x1: "q1",
        x2: "q3",
        fill: "platform_name",
        strokeWidth: 2,
      }),
      Plot.ruleY(scoresStats, {
        y: "platform_name",
        x1: "q3",
        x2: "c3",
      }),
      Plot.tickX(scoresStats, {
        y: "platform_name",
        x: "q2",
        strokeWidth: 2,
      }),
    ],
    document,
  }).outerHTML,
];
---

<div
  class="bg-base-light [&_h2]:text-2xl text-crust rounded-md drop-shadow-sm p-4 overflow-x-auto"
>
  {plots.map((plot) => <Fragment set:html={plot} />)}
  <p class="text-xs">
    {caption}
    n={scoresFiltered.length.toLocaleString()} markets
  </p>
  <p class="text-xs">
    Source: <a href="https://brier.fyi">brier.fyi</a>
  </p>
</div>
