---
import type { PlatformDetails, MarketDetails } from "@types";
import { calculateDateBarPoints } from "@lib/histogram";

import * as Plot from "@observablehq/plot";
import { JSDOM } from "jsdom";
const { document } = new JSDOM().window;

interface Props {
  platforms: PlatformDetails[];
  markets: MarketDetails[];
  width?: number;
  aspectRatio?: number;
  caption?: string;
}
let { platforms, markets, width = 1100, aspectRatio, caption } = Astro.props;
const openPoints = calculateDateBarPoints(markets, "open");
const closedPoints = calculateDateBarPoints(markets, "closed");
const numPresent = openPoints.reduce((sum, item) => sum + item.count, 0);
const numHidden = markets.length - numPresent;

// Generate the plot
const plot = Plot.plot({
  title: "Market Open and Close Dates",
  subtitle: "Markets opened (positive) and closed (ngeative) over time",
  width: width,
  aspectRatio: aspectRatio,
  marginLeft: 40,
  marginRight: 80,
  x: {
    type: "utc",
    label: "Date",
  },
  y: {
    grid: true,
    percent: true,
    label: "Percent",
  },
  fy: { label: null },
  color: {
    label: "Platform",
    domain: platforms.map((p) => p.name),
    range: platforms.map((p) => p.color_accent),
  },
  marks: [
    Plot.rectY(openPoints, {
      x1: (i) => new Date(i.date_start),
      x2: (i) => new Date(i.date_end),
      y: (i) => i.percent,
      fill: "platform_name",
      fy: "platform_name",
      insetLeft: 1,
      insetRight: 1,
    }),
    Plot.rectY(closedPoints, {
      x1: (i) => new Date(i.date_start),
      x2: (i) => new Date(i.date_end),
      y: (i) => i.percent * -1,
      fill: "platform_name",
      fy: "platform_name",
      insetLeft: 1,
      insetRight: 1,
    }),
    Plot.ruleY([0]),
  ],
  document,
}).outerHTML;
---

<div
  class="bg-base-light [&_h2]:text-2xl text-crust rounded-md drop-shadow-sm p-4 overflow-x-auto"
>
  <Fragment set:html={plot} />
  <p class="text-xs">
    {caption}
    n={numPresent.toLocaleString()} markets
    {numHidden > 0 && `(${numHidden.toLocaleString()} hidden)`}
  </p>
  <p class="text-xs">
    Source: <a href="https://predictionmetrics.org">predictionmetrics.org</a>
  </p>
</div>
