---
import Base from "@layouts/base.astro";
import CategoryForm from "@components/forms/category.astro";
import { getCategories } from "@lib/api";

export async function getStaticPaths() {
    const platforms = await getCategories();

    return platforms.map((category) => ({
        params: { slug: category.slug },
        props: { category },
    }));
}

const { category } = Astro.props;
---

<Base title="Edit Category">
    <div class="p-4 m-2 border-b border-text">
        <h2 class="text-3xl font-bold text-text">
            Edit Category: {category.name}
        </h2>
    </div>

    <CategoryForm category={category} />
</Base>
