---
import Base from "@layouts/base.astro";
import CategoryForm from "@components/forms/category.astro";
---

<Base title="New Category">
    <div class="p-4 m-2 border-b border-text">
        <h2 class="text-3xl font-bold text-text">New Category</h2>
    </div>

    <CategoryForm />
</Base>
