---
import CategoryReportCard from "@components/category-report-card.astro";
import QuestionCard from "@components/question-card.astro";
import Traders from "@atoms/traders.astro";
import Volume from "@atoms/volume.astro";
import Markets from "@atoms/num-markets.astro";
import Base from "@layouts/base.astro";
import type { Category, Question } from "@types";

const qst_response = await fetch(
    "https://data.predictionmetrics.org/questions",
);
const questions: Question[] = await qst_response.json();
---

<Base title="Categories">
    <div class="p-4 m-2">
        <h1 class="text-4xl font-bold">All Categories</h1>
    </div>
    <div class="px-4 m-2">
        <div class="flex space-x-8 pb-2 border-b-2 items-center">
            <h2 class="font-bold text-2xl">
                <a href="/category/climate">Climate</a>
            </h2>
            <div class="">
                <ul class="flex items-center space-x-4">
                    <li><Markets amount="1234" /></li>
                    <li><Traders traders="1234" /></li>
                    <li><Volume amount="123456" /></li>
                </ul>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2">
            <div class="p-4 m-2 border-2 rounded-md">
                Predictions focusing on climate change impacts, environmental
                metrics, and sustainability goals. Includes temperature
                forecasts, emission levels, renewable energy adoption, and
                natural disasters.
            </div>
            <CategoryReportCard />
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
            <QuestionCard />
            <QuestionCard />
            <QuestionCard />
            <QuestionCard />
            <QuestionCard />
            <QuestionCard />
        </div>
    </div>
</Base>
