---
import Base from "@layouts/base.astro";
import CalibrationChart from "@components/calibration-chart.astro";
---

<Base title="Charts">
    <div class="p-4 m-2">
        <h1 class="text-4xl font-bold">All Charts</h1>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="p-2 m-1">
            <CalibrationChart />
        </div>
        <div class="p-2 m-1">
            <CalibrationChart />
        </div>
        <div class="p-2 m-1">
            <CalibrationChart />
        </div>
        <div class="p-2 m-1">
            <CalibrationChart />
        </div>
        <div class="p-2 m-1">
            <CalibrationChart />
        </div>
        <div class="p-2 m-1">
            <CalibrationChart />
        </div>
    </div>
</Base>
