---
import Base from "../layouts/base.astro";
import Card from "../components/card.astro";
---

<Base title="Home">
    <div
        class="max-w-6xl mx-auto items-center grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 py-6 drop-shadow-lg"
    >
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
    </div>
</Base>
