---
import Base from "../layouts/base.astro";
import Hero from "../components/hero.astro";
import ReportCardDesktop from "../components/report-card-desktop.astro";
import ReportCardMobile from "../components/report-card-mobile.astro";
import MarketCard from "../components/market-card.astro";
import CalibrationIntro from "../components/calibration-intro.astro";
import CalibrationChart from "../components/calibration-chart.astro";
---

<Base title="Home">
    <div class="grid grid-cols-1 md:grid-cols-2 pt-4">
        <Hero />
        <div class="hidden md:block">
            <ReportCardDesktop />
        </div>
        <div class="md:hidden">
            <ReportCardMobile />
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 py-4">
        <MarketCard />
        <MarketCard />
        <MarketCard />
        <MarketCard />
        <MarketCard />
        <MarketCard />
    </div>
    <hr />
    <CalibrationIntro />
    <CalibrationChart />
</Base>
