<div class="p-4 m-2">
    <h1 class="text-4xl font-bold">What about calibration?</h1>
    <p class="my-2">
        Accuracy is a good metric, but another lens we can use for analysis is
        calibration. For a group of markets to be perfectly calibrated, their
        average resolution values much match their average prediction values.
    </p>
    <p class="my-2">
        For example, let's say there are a handful of markets that will be
        determined by rolling a 6 on a fair six-sided die. We would expect each
        market to have an average probability of around 17%, and once they
        resolve we would expect around 17% of them to resolve positively. If
        both are true, then those markets were well-calibrated. If not, then
        some of our assumptions were incorrect.
    </p>
    <p class="my-2">
        This plot takes all of the prediction and resolution values and shows
        how closely they match. They should form a straight line from the
        bottom-left to the top-right - points significantly under or over that
        line represent systemic errors.
    </p>
</div>
