<nav class="bg-crust text-text px-4 py-2 drop-shadow-lg">
    <div
        class="container mx-auto flex flex-col sm:flex-row justify-between items-center"
    >
        <a href="/" class="text-lg font-bold">Prediction Metrics</a>
        <ul class="flex flex-wrap items-center gap-4 mt-2 sm:mt-0">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/questions">Questions</a>
            </li>
            <li>
                <a href="/categories">Categories</a>
            </li>
            <li>
                <a href="/search">Search</a>
            </li>
            <li>
                <a href="/charts">Charts</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="https://github.com/wasabipesto/themis">Source</a>
            </li>
        </ul>
    </div>
</nav>
