<div class="p-4 m-2">
    <h1 class="text-4xl font-bold">How accurate are prediction markets?</h1>
    <p class="my-2">
        In the past it's been hard to measure the accuracy of prediction markets
        since question difficulty can vary so drastically. You can't compare
        apples to oranges!
    </p>
    <p class="my-2">
        In order to solve that problem we've matched markets across platforms
        and curated a collection of predictive questions that are actually
        comparable. Using those matches, we can generate a score for each
        platform in each category that rewards whichever market was correct
        earliest.
    </p>
    <ul class="list-disc px-4">
        <li>
            <a href="/intro" class="underline">What's a prediction market?</a>
        </li>
        <li>
            <a href="/math" class="underline">Show me the math!</a>
        </li>
        <li><a href="/api" class="underline">Show me the data!</a></li>
    </ul>
</div>
