---
import { Icon } from "astro-icon/components";

interface Props {
  link: string;
  text: string;
  icon: "arrow-right" | "link-out" | null;
}

const { link, text, icon = null } = Astro.props;
---

<a
  href={link}
  class="inline-flex w-full items-center justify-center px-4 py-2 bg-lavender text-crust rounded-md hover:bg-lavender/90 transition-colors duration-200 font-medium"
>
  {text}
  {
    icon === "arrow-right" && (
      <Icon name="mdi:arrow-right-thin" size={20} class="inline ml-1" />
    )
  }
  {
    icon === "link-out" && (
      <Icon name="mdi:open-in-new" size={16} class="inline ml-1" />
    )
  }
</a>
