---
import type { PlatformDetails } from "@types";

interface Props {
  platform: PlatformDetails;
}
const { platform } = Astro.props;
---

<a
  href={`/platform/${platform.slug}`}
  style="text-decoration: none !important;"
>
  <div
    class="p-4 m-2 bg-base-light text-crust rounded-md drop-shadow-sm transition-all duration-200 hover:bg-selection hover:translate-y-[-2px] hover:shadow-md cursor-pointer"
  >
    <div class="font-bold mb-1">
      {platform.name}
    </div>
    <div>{platform.description}</div>
  </div>
</a>
