---
import Calendar from "@icons/calendar-empty.svg";

interface Props {
  num: number | null;
}

const { num = null } = Astro.props;
---

<div>
  <Calendar height={18} fill="currentColor" class="inline" />
  {
    num?.toLocaleString("en-US", {
      maximumFractionDigits: 0,
      useGrouping: true,
    }) ?? "N/A"
  }
</div>
