---
import { Icon } from "astro-icon/components";

interface Props {
  num: number | null;
}

const { num = null } = Astro.props;
---

<div>
  <Icon name="mdi:calendar-blank" class="inline mb-1" />
  {
    num?.toLocaleString("en-US", {
      maximumFractionDigits: 0,
      useGrouping: true,
    }) ?? "N/A"
  }
</div>
