---
const { grade } = Astro.props;

// Converts a grade S-F (with or without modifiers) to a background color.
function getColorClassFromGrade(grade: string): string {
    const gradeMap = {
        S: "bg-blue/60",
        A: "bg-green/60",
        B: "bg-teal/60",
        C: "bg-yellow/60",
        D: "bg-peach/60",
        F: "bg-red/60",
        "-": "bg-selection/60",
    };

    // @ts-ignore: Map lookup can fail but default is given
    return gradeMap[grade.charAt(0).toUpperCase()] || "bg-red/60";
}
---

<div
    class:list={[
        getColorClassFromGrade(grade),
        "rounded-md text-crust px-2 text-center",
    ]}
>
    {grade}
</div>
