---
import { Icon } from "astro-icon/components";

interface Props {
  num: number;
  align?: boolean;
}

const { num, align } = Astro.props;
---

<div class="flex place-items-center place-content-center">
  <Icon name="mdi:chart-box-multiple-outline" class="inline mr-1" />
  <span class={`text-right ${align ? "min-w-8" : ""}`}>
    {
      num?.toLocaleString("en-US", {
        maximumFractionDigits: 0,
        useGrouping: true,
      }) ?? "N/A"
    }
  </span>
</div>
