---
interface Props {
  num: number | null;
}

const { num = null } = Astro.props;
---

<div class="font-mono">
  {
    num?.toLocaleString("en-US", {
      minimumFractionDigits: 4,
      maximumFractionDigits: 4,
      useGrouping: false,
    }) ?? "N/A"
  }
</div>
