---
interface Props {
    num: number | null;
}

const { num = null } = Astro.props;
---

<div class="font-mono">
    {
        num?.toLocaleString("en-US", {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2,
            useGrouping: false,
        }) ?? "N/A"
    }
</div>
