---
import Money from "@icons/money.svg";
const { amount } = Astro.props;

// Formats an input amount as currency ($X,XXX,XXX). Returns "N/A" if amount is null.
function formatVolume(amount: number | null): string {
    if (amount === null) {
        return "N/A";
    }
    return "$" + (amount / 1).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
---

<div>
    <Money height={18} fill="currentColor" class="inline" />
    {formatVolume(amount)}
</div>
