---
import { Icon } from "astro-icon/components";

interface Props {
  num: number | null;
}

const { num = null } = Astro.props;
---

<div>
  <Icon name="mdi:cash" class="inline mb-1" />
  {
    num?.toLocaleString("en-US", {
      style: "currency",
      currency: "USD",
      maximumFractionDigits: 0,
    }) ?? "N/A"
  }
</div>
